/*
 * Copyright (c) 2016 by Gerrit Grunwald
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.number-field {
    -fx-alignment       : center-right;
    -prompt-text-color  : -grey-700;
    -hint-text-color    : -grey-700;
    -fx-text-fill       : -fx-text-inner-color;
    -fx-prompt-text-fill: -grey-700;
    -unit-fill          : -grey-700;
}
.number-field:focused {
    -fx-text-fill          : -fx-text-inner-color;
    -fx-prompt-text-fill   : -grey-700;
    -currency-code-fill    : -grey-700;
    -fx-highlight-fill     : -fx-material-500-t12;
    -fx-highlight-text-fill: -fx-material-500;
}

.number-field .unit {
    -fx-fill: -unit-fill;
}
