/******************************************************************************
 * GAUGE class                                                                *
 *****************************************************************************/
.gauge {
    -gauge-background-color          : #646464;
    -gauge-title-color               : white;
    -gauge-value-color               : white;
    -gauge-unit-color                : white;
    -gauge-min-value-color           : white;
    -gauge-max-value-color           : white;
    -gauge-threshold-color           : #ff9100;
    -gauge-bar-background-color      : #cfcfcf;
    -gauge-section-separator-color   : #8b9b9b;
    -gauge-bar-color                 : transparent;
    -gauge-needle-color              : white;
    -gauge-text-color                : black;
    -gauge-alert-icon-color          : yellow;
    -gauge-average-color             : white;
    -gauge-percentage-color          : #ff9100;
    -gauge-value-bar-background-color: #cfcfcf;
    -gauge-value-bar-color           : #509eda;
}

.gauge .gauge-background {
    -fx-background-color: -gauge-background-color;
    -fx-fill            : -gauge-background-color;
}

.gauge .gauge-bar-background {
    -fx-fill  : null;
    -fx-stroke: -gauge-bar-background-color;
}
.gauge .gauge-threshold-bar {
    -fx-fill  : null;
    -fx-stroke: -gauge-threshold-color;
}
.gauge .gauge-bar {
    -fx-fill  : null;
    -fx-stroke: -gauge-bar-color;
}
.gauge .gauge-needle {
    -fx-fill  : -gauge-needle-color;
    -fx-stroke: transparent;
}
.gauge .gauge-title {
    -fx-fill: -gauge-title-color;
}
.gauge .gauge-value {
    -fx-fill: -gauge-value-color;
}
.gauge .gauge-unit {
    -fx-fill: -gauge-unit-color;
}
.gauge .gauge-percentage {
    -fx-fill: -gauge-percentage-color;
}
.gauge .gauge-min-value {
    -fx-fill: -gauge-min-value-color;
}
.gauge .gauge-max-value {
    -fx-fill: -gauge-max-value-color;
}
.gauge .gauge-threshold-rect {
    -fx-fill  : -gauge-threshold-color;
    -fx-stroke: null;
}
.gauge .gauge-threshold {
    -fx-fill: -gauge-background-color;
}
.gauge .gauge-average {
    -fx-fill  : -gauge-average-color;
    -fx-stroke: -gauge-average-color;
}
.gauge .gauge-section-separator {
    -fx-stroke           : -gauge-section-separator-color;
    -fx-stroke-line-cap  : butt;
    -fx-stroke-dash-array: 2 2;
    -fx-line-width       : 2;
}
.gauge .gauge-alert-icon {
    -fx-background-color: -gauge-alert-icon-color;
    -fx-scale-shape     : true;
    -fx-shape           : "M 210 168.7778 C 210 153.4363 222.5358 141 238 141 C 253.4642 141 266 153.4363 266 168.7778 L 266 279.0208 C 266 294.3623 253.4642 306.7986 238 306.7986 C 222.5358 306.7986 210 294.3623 210 279.0208 L 210 168.7778 ZM 210 363.2222 C 210 347.8808 222.5358 335.4445 238 335.4445 C 253.4642 335.4445 266 347.8808 266 363.2222 C 266 378.5637 253.4642 391 238 391 C 222.5358 391 210 378.5637 210 363.2222 ZM 262.0801 44.9163 C 248.8347 21.9524 227.3541 21.9489 214.1011 44.9084 L 5.9964 405.4287 C -7.2566 428.3882 3.49 447 30 447 L 446 447 C 472.51 447 483.2628 428.3846 470.0173 405.4208 L 262.0801 44.9163 Z";
}

.gauge .gauge-value-bar-background {
    -fx-fill  : -gauge-value-bar-background-color;
    -fx-stroke: null;
}
.gauge .gauge-value-bar {
    -fx-fill  : -gauge-value-bar-color;
    -fx-stroke: null;
}
.gauge .gauge-graph {
    -fx-fill  : null;
    -fx-stroke: -gauge-value-bar-color;
}
.gauge .gauge-section {
    -fx-fill  : null;
    -fx-stroke: -gauge-bar-color;
}

.gauge-section-red {
    -gauge-bar-color       : #D85454;
    -gauge-value-bar-color : #D85454;
    -gauge-percentage-color: #D85454;
}
.gauge-section-yellow {
    -gauge-bar-color       : #D8D854;
    -gauge-value-bar-color : #D8D854;
    -gauge-percentage-color: #D8D854;
}
.gauge-section-green {
    -gauge-bar-color       : #50DA5B;
    -gauge-value-bar-color : #50DA5B;
    -gauge-percentage-color: #50DA5B;
}
.gauge-section-blue {
    -gauge-bar-color       : #509eda;
    -gauge-value-bar-color : #509eda;
    -gauge-percentage-color: #509eda;
}
