.omnibox {
    -fx-background-color: white;
    -fx-border-color    : black;
    -fx-border-width    : 1px;
}

.search-result-list-view {
    -fx-padding          : 0;
    -fx-background-insets: 0;
    -fx-border-insets    : 0;
}

.search-result-list-view:focused {
    -fx-padding          : 0;
    -fx-background-insets: 0;
}

.search-result-list-view:focused {
    -fx-padding          : 0;
    -fx-background-insets: 0;
    -fx-border-color     : transparent;
    -fx-background-color : transparent;
}

.search-result-list-view > .virtual-flow > .scroll-bar:vertical .decrement-arrow,
.search-result-list-view > .virtual-flow > .scroll-bar:vertical .increment-arrow {
    -fx-pref-width : 0;
    -fx-pref-height: 0;
}

.search-result-list-view > .virtual-flow > .scroll-bar:vertical {
    -fx-pref-width      : 6;
    -fx-background-color: transparent;
}

.omnibox > .label {
    -fx-alignment       : center;
    -fx-background-color: lightgray;
}

.search-icon {
    -fx-graphic: url('magnifying_glass.png');
}