/*
 * Copyright (c) 2016 by Gerrit Grunwald
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.ripple-circle {
    -ripple-color: -fx-material-accent-200;
    -fx-fill     : -ripple-color;
}

.material-field {
    -material-design-color: -fx-material-500;
    -prompt-text-color    : -grey-600;
    -hint-text-color      : -grey-700;
    -required-text-color  : -red-A700;
    -invalid-text-color   : -red-A700;
    -currency-code-fill   : -grey-700;
}
.material-field > .prompt-text {
    -fx-fill: -prompt-text-color;
}
.material-field > .required-text {
    -fx-fill: -required-text-color;
}
.material-field > .hint-text {
    -fx-font-family: "Roboto Regular";
    -fx-font-size  : 10px;
    -fx-fill       : -hint-text-color;
    -fx-text-fill  : -hint-text-color;
}
.material-field:invalid, .material-field:invalid > .prompt-text,
.material-field:invalid > .required-text, .material-field:invalid > .hint-text {
    -prompt-text-color  : -invalid-text-color;
    -required-text-color: -invalid-text-color;
    -hint-text-color    : -invalid-text-color;
}
.material-field:readonly {
    -fx-prompt-text-fill: transparent;
}
.material-field:disabled {
    -fx-prompt-text-fill: transparent;
}

.material-omni-box {
    -material-design-color: -fx-material-500;
    -prompt-text-color    : -grey-600;
    -hint-text-color      : -grey-700;
    -required-text-color  : -red-A700;
    -invalid-text-color   : -red-A700;
    -currency-code-fill   : -grey-700;
    -fx-background-insets  : 0;
    -fx-background-radius  : 0;
    -fx-padding            : 0.333333em 0em 0.333333em 0em;
}
.material-omni-box:right-node-visible {
    -fx-padding: 0.333333em 0em 0.333333em 0em;
}
.material-omni-box:right-node-visible .right-pane {
    -fx-padding: 0;
}
.material-omni-box:focused:right-node-visible {
    -fx-padding: 0.333333em 0em 0.333333em 0em;
}
.material-omni-box > .prompt-text {
    -fx-fill: -prompt-text-color;
}
.material-omni-box > .required-text {
    -fx-fill: -required-text-color;
}
.material-omni-box > .hint-text {
    -fx-text-fill: -hint-text-color;
    -fx-font-size: 10px;
}
.material-omni-box:invalid, .material-omni-box:invalid > .prompt-text,
.material-omni-box:invalid > .required-text, .material-omni-box:invalid > .hint-text {
    -prompt-text-color  : -invalid-text-color;
    -required-text-color: -invalid-text-color;
    -hint-text-color    : -invalid-text-color;
}
.material-omni-box:readonly {
    -fx-prompt-text-fill: transparent;
}
.material-omni-box:disabled {
    -fx-prompt-text-fill: transparent;
}


.material-label {
    -fx-font-family       : "Roboto Regular";
    -fx-font-size         : 13px;
    -fx-alignment         : center-left;
    -material-design-color: -fx-material-500;
    -fx-text-fill         : black;
    -title-text-color     : -grey-600;
    -fx-background-insets : 0;
    -fx-background-radius : 0;
    -fx-border-color      : transparent transparent -grey-700 transparent;
    -fx-border-width      : 1;
    -fx-border-insets     : 0 0 1 0;
    -fx-border-style      : hidden hidden solid hidden;
    -fx-padding           : 0.333333em 0em 0.333333em 0em;
    -fx-label-padding     : 0;
    -fx-content-display   : left;
}
.material-label > .title-text {
    -fx-fill: -title-text-color;
}

.material-combo-box {
    -fx-padding      : -0.0666666em 0 0 0;
    -fx-border-insets: 0;
}
.material-combo-box:focused {
    -fx-border-insets : 0;
    -prompt-text-color: -fx-material-500;
}
.material-combo-box > .cell {
    -fx-text-fill  : transparent;
    -fx-padding    : 0 0 0.333333em 0;
}
.material-combo-box:has-selection > .cell {
    -fx-text-fill: -fx-text-base-color;
}
.material-combo-box:editable {
    -fx-padding      : 0;
    -fx-border-insets: 0;
}
.material-combo-box:editable:focused {
    -fx-padding       : 0;
    -fx-border-insets : 0;
    -prompt-text-color: -fx-material-500;
}
.material-combo-box:editable > .text-field {
    -fx-font-size        : 13px;
    -fx-background-color : transparent;
    -fx-background-insets: 0;
    -fx-border-color     : transparent;
    -fx-prompt-text-fill : transparent;
    -fx-padding          : 0 0 2 0;
    -fx-alignment        : center-left;
}
.material-combo-box:editable:focused > .text-field, .combo-box-base:editable > .text-field:focused {
    -fx-background-color : transparent;
    -fx-padding          : 0 0 2 0;
}
.material-combo-box:hover:editable:has-selection:focused {
    -prompt-text-color: -fx-material-500;
}
.material-combo-box:disabled > .text-field, .material-combo-box:disabled > .cell {
    -fx-opacity  : 0.46;
}
.material-combo-box:hover > .hint-text {
    -fx-font-family: "Roboto Regular";
    -fx-font-size  : 10px;
}
.material-combo-box .reset-icon {
    -fx-pref-width       : 12;
    -fx-pref-height      : 12;
    -fx-background-color : -fx-text-background-color;
    -fx-background-insets: 0;
    -fx-scale-shape      : false;
    -fx-shape            : "M 1.7574 0.5452 L 0.5452 1.7574 L 4.7878 6 L 0.5452 10.2426 L 1.7574 11.4548 L 6 7.2122 L 10.2426 11.4548 L 11.4548 10.2426 L 7.2122 6 L 11.4548 1.7574 L 10.2426 0.5452 L 6 4.7878 L 1.7574 0.5452 Z";
}


.material-check-combo-box {
    -fx-padding      : -0.0666666em 0 0 0;
    -fx-border-insets: 0;
}
.material-check-combo-box:focused,
.material-check-combo-box .combo-box:focused {
    -prompt-text-color: -fx-material-500;
}
.material-check-combo-box:focused .combo-box {
    -fx-border-color    : transparent transparent -fx-material-500 transparent;
    -fx-border-width    : 1;
    -fx-border-style    : hidden hidden solid hidden;
}
/*
.material-check-combo-box > .cell {
    -fx-text-fill  : transparent;
    -fx-padding    : 0 0 0.333333em 0;
}
.material-check-combo-box .combo-box {
    -fx-padding: 0;
}
.material-check-combo-box:has-selection > .cell {
    -fx-text-fill: -fx-text-base-color;
}
.material-check-combo-box:focused {
    -fx-padding       : 0;
    -fx-border-insets : 0;
    -prompt-text-color: -fx-material-500;
}
.material-check-combo-box .combo-box-popup:focused {
    -prompt-text-color: -fx-material-500;
}
.material-check-combo-box:focused > .text-field, .combo-box-base > .text-field:focused {
    -fx-background-color : transparent;
    -fx-padding          : 0 0 2 0;
}
.material-check-combo-box:hover:has-selection:focused {
    -prompt-text-color: -fx-material-500;
}
.material-check-combo-box:disabled > .text-field, .material-combo-box:disabled > .cell {
    -fx-opacity  : 0.46;
}
.material-check-combo-box:hover > .hint-text {
    -fx-font-family: "Roboto Regular";
    -fx-font-size  : 10px;
}
.material-check-combo-box .reset-icon {
    -fx-pref-width       : 12;
    -fx-pref-height      : 12;
    -fx-min-width        : 12;
    -fx-min-height       : 12;
    -fx-max-width        : 12;
    -fx-max-height       : 12;
    -fx-background-color : -fx-text-background-color;
    -fx-background-insets: 0;
    -fx-scale-shape      : false;
    -fx-shape            : "M 1.7574 0.5452 L 0.5452 1.7574 L 4.7878 6 L 0.5452 10.2426 L 1.7574 11.4548 L 6 7.2122 L 10.2426 11.4548 L 11.4548 10.2426 L 7.2122 6 L 11.4548 1.7574 L 10.2426 0.5452 L 6 4.7878 L 1.7574 0.5452 Z";
}
*/

.material-progress {
    -indicator-color: -fx-material-500;
}
.material-progress .indicator {
    -fx-stroke-type: inside;
    -fx-fill       : null;
    -fx-stroke     : -indicator-color;
}


.material-button {
    -ripple-color: -fx-material-200;
    -fx-alignment: center;
}
.material-button > .ripple-circle {
    -fx-fill: -ripple-color;
}
.material-button > .icon {
    -fx-fill: white;
}


.combo-box {
    -fx-font-family: "Roboto Regular";
    -fx-font-size  : 13px;
}


.text-input {
    -fx-font-family        : "Roboto Regular";
    -fx-font-size          : 13px;
    -fx-text-fill          : -fx-text-inner-color;
    -fx-highlight-fill     : derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill   : transparent;
    -fx-background-color   : transparent;
    -fx-background-insets  : 0;
    -fx-background-radius  : 0;
    -fx-border-color       : transparent transparent -grey-700 transparent;
    -fx-border-width       : 1;
    -fx-border-insets      : 0 0 1 0;
    -fx-border-style       : hidden hidden solid hidden;
    -fx-cursor             : text;
    -fx-padding            : 0.166667em 0em 0.333333em 0em;
}
.text-input:focused {
    -fx-highlight-fill     : -fx-material-500-t12;
    -fx-highlight-text-fill: -fx-material-500;
    -fx-text-fill          : -fx-text-inner-color;
    -fx-background-color   : transparent;
    -fx-background-insets  : 0;
    -fx-background-radius  : 0;
    -fx-border-color       : transparent transparent -fx-material-500 transparent;
    -fx-border-width       : 1;
    -fx-border-insets      : 0 0 1 0;
    -fx-border-style       : hidden hidden solid hidden;
    -fx-prompt-text-fill   : transparent;
    -fx-padding            : 0.166667em 0em 0.333333em 0em;
}
.text-input:readonly {
    -fx-background-color: transparent;
    -fx-text-fill       : derive(-fx-text-base-color, 35%);
    -fx-border-style    : segments(2, 3)  line-cap butt;
    -fx-border-color    : transparent transparent -grey-700 transparent;
}
.text-input:focused:readonly {
    -fx-text-fill   : derive(-fx-text-base-color, 35%);
    -fx-border-style: segments(2, 3)  line-cap butt;
    -fx-border-color: transparent transparent -fx-material-500 transparent;
}
.text-input:disabled {
    -fx-opacity     : 0.46;
    -fx-border-style: segments(2, 3)  line-cap butt;
    -fx-border-color: transparent transparent black transparent;
}

.text-input > .material-field {
    -required-text-color: -grey-700;
}
.text-input:focused > .material-field {
    -prompt-text-color  : -fx-material-500;
    -hint-text-color    : -fx-material-500;
    -required-text-color: -red-A700;
}
.text-input:invalid {
    -fx-border-color: transparent transparent -invalid-text-color transparent;
}
.text-input:focused:invalid {
    -fx-border-color: transparent transparent -invalid-text-color transparent;
}


.material-glyph-button {
    -fx-min-width        : 28px;
    -fx-min-height       : 28px;
    -fx-max-width        : 28px;
    -fx-max-height       : 28px;
    -fx-pref-width       : 28px;
    -fx-pref-height      : 28px;
    -fx-fill             : -fx-material-accent-400; /*-fx-material-500;*/
    -fx-text-fill        : -fx-material-accent-400; /*-fx-material-500;*/
    -fx-background-color : transparent;
    -fx-background-insets: 0;
    -fx-padding          : 8 16 8 16;
    -fx-background-radius: 1024px;
}
.material-glyph-button:hover {
    -fx-background-color: -fx-material-accent-t12; /*-fx-material-500-t12;*/
}
.material-glyph-button:focused {
    -fx-background-color: -fx-material-accent-t12; /*-fx-material-500-t12;*/
}
.material-glyph-button:pressed {
    -fx-background-color: -fx-material-accent-t40; /*-fx-material-500-t40;*/
}
.material-glyph-button:disabled, .material-glyph-button .icon {
    -fx-fill            : -fx-material-black-t26;
    -fx-text-fill       : -fx-material-black-t26;
    -fx-background-color: -fx-material-black-t12;
    -fx-opacity         : 1;
}
.material-glyph-button .icon {
    -fx-fill: -fx-material-accent-400; /*-fx-material-500;*/
}


.material-card {
    -fx-background-color : white;
    -fx-background-insets: 0;
    -fx-background-radius: 2px;
    -title-color         : rgba(0, 0, 0, 0.87);
    -card-icon-color     : -fx-mark-color;
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.26), 3, 0.12, 0, 2);
}
.material-card .card-title {
    -fx-text-fill  : -title-color;
    -fx-font-family: "Roboto";
    -fx-font-size  : 20px;
    -fx-padding    : 18 14 18 24;
}
.material-card .card-tool-bar {
    -fx-orientation      : horizontal;
    -fx-background-color : transparent;
    -fx-background-insets: 0;
    -fx-padding          : 0 14 0 24;
}
.material-card .card-tool-bar > .container {
    -fx-spacing  : 24px;
    -fx-padding  : 0;
    -fx-alignment: center-right;
}
.material-card .card-tool-bar > * > .toggle-button,
.material-card .card-tool-bar > * > .button {
    -fx-font-size        : 20px;
    -fx-min-width        : 24px;
    -fx-background-insets: 0;
    -fx-padding          : 0;
    -fx-background-radius: 2px;
}
.material-card .card-tool-bar > * > * > .card-icon {
    -fx-fill: -card-icon-color;
}

.material-card .card-title-small {
    -fx-text-fill  : -title-color;
    -fx-font-family: "Roboto";
    -fx-font-size  : 14px;
    -fx-padding    : 8 8 12 16;
}

.material-card .card-tool-bar-small {
    -fx-orientation      : horizontal;
    -fx-background-color : transparent;
    -fx-background-insets: 0;
    -fx-padding          : 0 0 0 8;
}

.material-card .card-tool-bar-small > * > .toggle-button,
.material-card .card-tool-bar-small > * > .button {
    -fx-font-size        : 16px;
    -fx-min-width        : 20px;
    -fx-min-height       : 20px;
}

.material-radio-group {
    -title-text-color   : -grey-600;
    -required-text-color: -red-A700;
}
.material-radio-group .title-text {
    -fx-font-family: "Roboto Regular";
    -fx-font-size  : 10px;
    -fx-fill       : -title-text-color;
}
.material-radio-group .required-text {
    -fx-font-family: "Roboto Regular";
    -fx-font-size  : 10px;
    -fx-fill       : -required-text-color;
}
.material-radio-group .radio-box {
    -fx-padding: 24 0 0 0;
}


.material-text-area {
    -title-text-color   : -grey-600;
    -required-text-color: -red-A700;
}
.material-text-area > .scroll-pane {
    -fx-padding: 12px 0 0 0;
}
.material-text-area .title-text {
    -fx-font-family: "Roboto Regular";
    -fx-font-size  : 10px;
    -fx-fill       : -title-text-color;
}
.material-text-area .required-text {
    -fx-font-family: "Roboto Regular";
    -fx-font-size  : 10px;
    -fx-fill       : -required-text-color;
}
.material-text-area > .content {
    -fx-cursor           : text;
    -fx-background-color : transparent;
    -fx-background-radius: 0;
}
.material-text-area:readonly > .content {
    -fx-text-fill: derive(-fx-text-base-color, 35%);
}


.material-date-picker {
    -fx-font-family     : "Roboto Regular";
    -fx-font-size       : 13px;
    -fx-background-color: transparent;
    -fx-border-color    : transparent transparent -grey-700 transparent;
    -fx-border-width    : 1;
    -fx-border-insets   : 0 0 1 0;
    -fx-border-style    : segments(2, 3)  line-cap butt;
    -fx-padding         : 0.166665em 0em 0.166665em 0em;
}
.material-date-picker > .text-field {
    -fx-alignment        : center-left;
    -fx-prompt-text-fill : transparent;
    -fx-background-insets: 0;
    -fx-padding          : -0.333333em 0 -2 0;
}
.material-date-picker > .text-field:readonly {
    -fx-border-color : transparent;
}
.material-date-picker:focused {
    -fx-border-color : transparent transparent -grey-700 transparent;
    -fx-border-width : 1;
    -fx-border-insets: 0 0 1 0;
    -fx-border-style : segments(2, 3)  line-cap butt;
    -fx-padding      : 0.166667em 0em 0em 0em;
}
.material-date-picker:focused > .text-field, .material-date-picker > .text-field:focused {
    -fx-border-color: transparent;
    -fx-padding     : -0.333333em 0 1 0;
}
.material-date-picker:focused > .text-field:readonly, .material-date-picker:focused:hover > .text-field:readonly {
    -fx-border-color: transparent;
    -fx-padding     : -0.333333em 0 1 0;
}
.material-date-picker:editable {
    -fx-font-family     : "Roboto Regular";
    -fx-font-size       : 13px;
    -fx-background-color: transparent;
    -fx-border-color    : transparent transparent -grey-700 transparent;
    -fx-border-width    : 1;
    -fx-border-insets   : 0 0 1 0;
    -fx-border-style    : hidden hidden solid hidden;
    -fx-padding         : 0.166665em 0 0.166665em 0;
}
.material-date-picker:editable > .text-field {
    -fx-padding: -0.333333em 0 -2 0;
}
.material-date-picker:editable:focused {
    -fx-border-width : 1px;
    -fx-border-color : transparent transparent -fx-material-500 transparent;
    -fx-border-insets: 0 0 1 0;
    -fx-border-style : hidden hidden solid hidden;
    -fx-padding      : 0.166667em 0em 0em 0em;
}
.material-date-picker:editable:focused > .text-field:focused {
    -fx-padding: -0.333333em 0 1 0;
}
.material-date-picker > .arrow-button, .material-date-picker:editable > .arrow-button {
    -fx-background-color : transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding          : 0em 0.667em 0.166667em 0.833333em;
}
.material-date-picker > .arrow-button > .arrow {
    -fx-shape            : "M0,0v9h9V0H0z M2,8H1V7h1V8z M2,6H1V5h1V6z M2,4H1V3h1V4z M4,8H3V7h1V8z M4,6H3V5h1V6z M4,4H3V3h1V4z M6,8H5V7h1V8z M6,6H5 V5h1V6z M6,4H5V3h1V4z M8,8H7V7h1V8z M8,6H7V5h1V6z M8,4H7V3h1V4z";
    -fx-background-color : -grey-400;
    -fx-background-insets: 0;
    -fx-padding          : 0.416667em 0.416667em 0.333333em 0.333333em; /* 5 5 4 4 */
    -fx-scale-shape      : true;
}
.material-date-picker:contains-focus {
    -fx-background-color : transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.material-date-picker:contains-focus > .arrow-button {
    -fx-background-color : transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.material-date-picker .reset-icon {
    -fx-pref-width       : 12;
    -fx-pref-height      : 12;
    -fx-background-color : -fx-text-background-color;
    -fx-background-insets: 0;
    -fx-scale-shape      : false;
    -fx-shape            : "M 1.7574 0.5452 L 0.5452 1.7574 L 4.7878 6 L 0.5452 10.2426 L 1.7574 11.4548 L 6 7.2122 L 10.2426 11.4548 L 11.4548 10.2426 L 7.2122 6 L 11.4548 1.7574 L 10.2426 0.5452 L 6 4.7878 L 1.7574 0.5452 Z";
}


.material-special-tab-pane > * > .scroll-pane {
    -fx-background-color : -fx-material-800;
    -fx-background-insets: 0;
    -fx-padding          : 0;
}
.material-special-tab-pane > * > .scroll-pane > .scroll-bar {
    -fx-background-insets: 0;
    -fx-padding          : 0;
}
.material-special-tab-pane > * > .scroll-pane > .scroll-bar > .increment-button,
.material-special-tab-pane > * > .scroll-pane > .scroll-bar > .decrement-button {
    -fx-padding: 0.25em; /* 3px */
}
.material-special-tab-pane {
    -fx-tab-min-width : 72px;
    -fx-tab-min-height: 48px;
    -fx-tab-max-height: 48px;
}
.material-special-tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-font-family     : "Roboto";
    -fx-font-size       : 13px;
    -fx-alignment       : CENTER;
    -fx-text-fill       : -fx-material-100;
    -fx-padding         : 0 12 0 12;
    -fx-background-color: transparent;
    -fx-text-fill       : black;
}
.material-special-tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-text-fill        : white;
    -fx-padding          : 0 12 -2 12;

    -fx-background-insets: 30 0 -11 0;
    -fx-scale-shape      : false;
    -fx-shape            : "M 0 0 H 18 L 9 11 L 0 0 Z";
    -fx-background-color : -fx-background;
}

/* Tab icons */
.tab-icon {
    -tab-icon-color: -fx-material-100;
    -fx-fill       : -tab-icon-color;
}
.material-special-tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label > .tab-icon {
    -tab-icon-color: black;
}
.material-special-tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label > .tab-icon {
    -tab-icon-color: white;
}
.material-special-tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding          : 0;
}
.material-special-tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: -fx-material-200;
    -fx-border-width    : 0 0.5 0 0.5;
    -fx-border-color    : -fx-material-500;
    -fx-border-insets   : 0;
    -fx-border-radius   : 0;
}
.material-special-tab-pane > .tab-header-area > .headers-region > .tab:right {
    -fx-background-color: -fx-material-200;
}
.material-special-tab-pane > .tab-header-area > .headers-region > .tab:bottom {
    -fx-background-color: -fx-material-200;
}
.material-special-tab-pane > .tab-header-area > .headers-region > .tab:left {
    -fx-background-color: -fx-material-200;
}
.material-special-tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-color: -fx-hover-base;
}
.material-special-tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-text-fill       : white;
    -fx-background-color: -fx-material-800;
    -fx-padding         : 0;
    -fx-border-width    : 0 0.5 0 0.5;
    -fx-border-color    : -fx-material-500;
    -fx-border-insets   : 0;
    -fx-border-radius   : 0;
}
.material-special-tab-pane > .tab-header-area > .headers-region > .tab:disabled {
    -fx-text-fill       : -grey-700;
    -fx-background-color: transparent;
    -fx-border-color    : -grey-200;
    -fx-border-style    : hidden;
    -fx-border-insets   : 0;
    -fx-border-width    : 0;
    -fx-padding         : 0;
}
.material-special-tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width : 1, 1;
    -fx-border-color : -fx-focus-color, -fx-faint-focus-color;
    -fx-border-insets: -4 -4 -6 -5, -2 -2 -5 -3;
    -fx-border-radius: 2, 1; /* looks sharper if outer border has a tighter radius (2 instead of 3) */
}
.material-special-tab-pane:focused > .tab-header-area > .headers-region > .tab:bottom:selected .focus-indicator {
    -fx-border-insets: -6 -5 -4 -4, -5 -3 -2 -2;
}
.material-special-tab-pane > .tab-header-area > .headers-region > .tab:disabled:hover {
    -fx-color: -fx-base;
}
.material-special-tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: -fx-material-500;
}
.material-special-tab-pane:top > .tab-header-area > .tab-header-background {
    -fx-background-insets: 0;
}
.material-special-tab-pane:bottom > .tab-header-area > .tab-header-background {
    -fx-background-insets: 0;
}
.material-special-tab-pane:left > .tab-header-area > .tab-header-background {
    -fx-background-insets: 0;
}
.material-special-tab-pane:right > .tab-header-area > .tab-header-background {
    -fx-background-insets: 0;
}
.material-special-tab-pane:top > .tab-header-area {
    -fx-padding: 0.416667em 5 0.0em 0.416667em; /* 5 2 0 5 */
    -fx-effect : none;
}
.material-special-tab-pane:bottom > .tab-header-area {
    -fx-padding: 0 0.166667em 0.416667em 0.416667em; /* 0 2 5 5 */
    -fx-effect : none;
}
.material-special-tab-pane:left > .tab-header-area {
    -fx-padding: 0.416667em 0.0em 0.166667em 0.416667em; /* 5 0 2 5 */
    -fx-effect : none;
}
.material-special-tab-pane:right > .tab-header-area {
    -fx-padding: 0.416667em 0.416667em 0.166667em 0.0em; /* 5 5 2 0 */
    -fx-effect : none;
}
/* TODO: scaling the shape seems to make it way too large */
.material-special-tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button {
    -fx-background-color: -fx-mark-color;
    -fx-shape           : "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
    -fx-scale-shape     : false;
    -fx-effect          : dropshadow(two-pass-box , rgba(255, 255, 255, 0.4), 1, 0.0 , 0, 1);
}
.material-special-tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button:hover {
    -fx-background-color: derive(-fx-mark-color, -30%);
}
/* CONTROL BUTTONS */
.material-special-tab-pane > .tab-header-area > .control-buttons-tab > .container {
    -fx-padding: 3 0 0 0;
}
.material-special-tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1 0 5 0, 0 1 6 1, 1 2 7 2;
    -fx-padding: 4 4 9 4;
    -fx-background-radius: 0;
}
.material-special-tab-pane:bottom > .tab-header-area > .control-buttons-tab > .container > .tab-down-button {
    -fx-padding: -5 4 4 4; /* TODO convert to ems */
}
/* FLOATING TABS CUSTOMISATION */
.material-special-tab-pane.floating > .tab-header-area > .tab-header-background {
    -fx-background-color: null;
}
.material-special-tab-pane.floating > .tab-header-area {
    -fx-background-color: null;
}
.material-special-tab-pane.floating > .tab-content-area {
    -fx-background-color: -fx-outer-border, -fx-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 2, 0;
    -fx-padding: 2;
}
